<div class="flex justify-center items-center">
  <form class="bg-sky-200 shadow-md rounded-md p-10">
    <h1 class="text-3xl text-center uppercase text-sky-600 mb-4">
      Password Recovery
    </h1>
    <div class="w-full flex justify-center">
      <div class="w-4/5">
        <p class="text-center uppercase text-sky-500 text-xs font-bold">
          Please enter your email
        </p>
        <p class="text-center uppercase text-sky-500 text-xs font-bold">
          If your email is found in our databases, you will be sent a link to
          reset your password
        </p>
      </div>
    </div>
    <div class="mt-2 w-full">
      <label class="block uppercase text-sky-600 text-xs font-bold py-3">
        Email
      </label>
      <input
        class="border-0 px-3 py-3 placeholder-sky-300 text-sky-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
        type="email"
      />
      <div class="flex justify-between gap-2 items-center mt-4">
        <button
          class="bg-gray-500 text-white w-2/12 text-sm font-bold uppercase px-6 py-3 rounded focus:outline-none shadow hover:shadow-lg ease-linear transition-all duration-150 relative"
          type="button" routerLink="/"
        >
          home
        </button>
        <button
          class="bg-sky-800 text-white w-10/12 text-sm font-bold uppercase px-6 py-3 rounded focus:outline-none shadow hover:shadow-lg ease-linear transition-all duration-150 relative"
          type="submit"
        >
          Recovery
        </button>
      </div>
    </div>
  </form>
</div>
